# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

debug/

Makefile\.Debug

Makefile\.Release

object_script\.\.Debug

object_script\.\.Release

\.qmake\.stash

release/

object_script\.cascade\.Release

object_script\.cascade\.Debug
/ftd2xx_win32/*.h
/ftd2xx_win32/*.lib
/ftd2xx_win32/*.dll
